
#iceHouse{
    display:block;
   position:relative;
}

/*Set lennieCat movement animations*/

@keyframes catheadRotate{
    from{ transform:translate(0deg); -webkit-transform:translate(0deg); -moz-transform:translate(0deg); -ms-transform:translate(0deg); -o-transform:translate(0deg); }
    to{ transform:translate(-6px); -webkit-transform:translate(-6px); -moz-transform:translate(-6px); -ms-transform:translate(-6px); -o-transform:translate(-6px); }
    } 
  
  @keyframes cateyesBlink{
      from{ ry:2.5px;}
      to{ ry:0.1px;}
    }
  
  @keyframes stretchlennielegright{
    from{ width:65px; }
    to{width:75px;} 
  } 
  
  @keyframes lickingtonguelennie {
    from{ height:12px;}
    to{height:0px;}
  }
  
  #catHeadTotal{
    animation: catheadRotate 1s linear infinite alternate;
    -webkit-animation: catheadRotate 1s linear infinite alternate;
  }
  
  #lennieLegRight{
    animation-name:stretchlennielegright;
          animation-duration:1s;
          animation-iteration-count:infinite;
          animation-timing-function:ease-in;
          animation-direction:alternate;} 

          #catEyeLeft{
            animation-name:cateyesBlink;
            animation-duration:1s;
            animation-iteration-count:infinite;
            animation-timing-function:linear;
            animation-direction:alternate;
    }
    
    
    #catEyeRight{
      animation-name:cateyesBlink;
      animation-duration:1s;
      animation-iteration-count:infinite;
      animation-timing-function:linear;
      animation-direction:alternate;
    }
  
@media screen and (min-width:3000px) {       
    .lennieCat{
        bottom: 1%;
        transform:scale(55%);
    }
}

@media screen and (min-width:601px) and (max-width: 1400px) {
    .lennie-cat{
        bottom: 1%;
        transform:scale(50%);
    }
    }

@media screen and (min-width: 799px) and (max-width: 1200px) {
    .Lennie-cat{
        left:60%;
        height:auto;
        width:auto;
      }
    }

    @media screen and (maxWidth: 600px) {              
        .lennieCat{
            padding-bottom: 10%;
            transform:scale(90%);
        }
        }

        