
/*styling for the elements of the dropdown menu 'monthly blogs'*/
#menu ul{
    color:white;
    background-color: #a4a4aC;
    border: solid  #36454F 2px;
    box-sizing:border-box;
    margin-top:0%;
    margin-bottom: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.monthLink{
    color:white;
}