body{
  display:flex;
  flex-direction:column;
  background-color:#6B7A8F;
}

 #menu ul{
  display:flex;
  flex-direction: row;
  width:100%;
}

#menu li{
padding:10px;
font-weight: bold;
font-size: larger;
}

#menu ul li{
  list-style-type: none;
} */

a{
  color:navy;
  text-decoration: none;
  /* text-decoration: underline; */
  -moz-text-decoration: none; 
}

a link{
  color:white;
  text-decoration: underline;
  -moz-text-decoration: none;
}

/* a visited{
  color:#92A8D1;
  text-decoration: none;
  -moz-text-decoration: none;
} */

a:hover{
  color:whitesmoke;
  text-decoration: underline;
  -moz-text-decoration: none; 
}

a:active {
  background-color: paleturquoise;
}

p{
  display:block;
  background-color:#92A8D1;
  color:black;
  text-align:center;
  font: size 50pt;
  font-weight: bold;
  border:solid 3px;
  border-color:#92A8D1;
  border-radius:20%;
  padding:5%;
  margin:10%;
  -webkit-border-radius:20%;
  -moz-border-radius:20%;
  -ms-border-radius:20%;
  -o-border-radius:20%;
} 

#myDiv ul{
  list-style-type:none;
}

#myDiv li{
  float:left;
  padding-top:5px;
  padding-bottom:10px;
  padding-left: 10px;
  padding-right:10px;
  font-weight: bold;
}

 #button{
  display:block;
  position:absolute;
  height:50px;
  width:20%;
  background-color:#4d648d;
  border:black 2px solid;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color:white;
  margin:5% 20% 5% 60%;
  border-radius:15%;
  -webkit-border-radius:15%;
  -moz-border-radius:15%;
  -ms-border-radius:15%;
  -o-border-radius:15%;
} 

#menuUnderline{
  text-decoration: underline;
  color:whitesmoke;
}

#the_Thomas_Family_Blog{
  color:white; 
  text-align: center;
  margin:15% 10% 10% 10%;
  font-family:sans-serif helvetica;
}

.gridContainer{
  display:grid;
  grid-template-columns: 20vw 20vw 20vw; /*specifies the number of columns in the grid*/
  grid-template-rows: 20vh 20vh 20vh ; /*specifies the number of rows in the grid*/
  column-gap: 15vw; /*specifies the size of the gaps between the columns*/
  row-gap: 40vh; /*specifies the size of the gaps between the rows*/
  margin:2%;
}

#Bernard_profile_photo{
  height: auto;
  width:auto; 
  border:solid grey 5px;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  padding:5%;
  /* margin:7%; */
}

#Jill_profile_photo{
  height:auto;
  width:auto; 
  border:solid grey 5px;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  padding:5%;
}

#Elena_profile_photo{
  height: auto;
  width:auto; 
  border:solid grey 5px;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  padding:5%;
  /* margin:7%; */
}

#Harry_profile_photo{
  height: auto;
  width:auto; 
  border:solid grey 5px;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  padding:5%;
}


#Lennie_profile_photo{
  height: auto;
  width:auto;
  border:solid grey 5px;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  padding:5%;
  }

  fig figcaption {
    text-align: center;
    font-weight: bold;
    color:white;
    font-size:32px;
    justify-content: center;
  }
  
  
