
.April2024header {
    display:block;
    text-align: center;
    font-size: 1.75em;
    color:white;
    font-weight: bold;
    border:solid 3px;
    width: 100vw;
    height: 83vh;
    background: #e1eae7;
    position:absolute; 

#April2024title{
    display:block;
    text-align: center;
    margin-top:2%;
    color: 	#52555c;
}

    
 #backbuttonApril{
    display:block;
    position:absolute;
    height:50px;
    width:15%;
    background-color:gray;
    border:black 2px solid;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color:white;
    margin: 5% 25% 5% 75%;
    border-radius:15%;
    -webkit-border-radius:15%;
    -moz-border-radius:15%;
    -ms-border-radius:15%;
    -o-border-radius:15%;
  } 
}

.backbuttonLink{
    color:white
    } 


 
@media screen and (max-width:401px) {

.mountainForeground, .mountainMiddle, .mountainBackground{
    transform:scale(50%) translate(-150px,0px);
    -webkit-transform:scale(50%) translate(-150px,0px);
    -moz-transform:scale(50%) translate(-150px,0px);
    -ms-transform:scale(50%) translate(-150px,0px);
    -o-transform:scale(50%) translate(-150px,0px);
}

#gradSpringSun{
    transform:translateY(-300px);
    -webkit-transform:translateY(-300px);
    -moz-transform:translateY(-300px);
    -ms-transform:translateY(-300px);
    -o-transform:translateY(-300px);
}

#ground{
   width:400vw;
   x:-50px;
   y:250px;
   height:100px;
}

.April2024header{
    height:50vh;
}



#swaledaleSheep1{ transform:scale(50%) translate(-200px,0px); -webkit-transform:scale(50%) translate(-200px,0px); -moz-transform:scale(50%) translate(-200px,0px); -ms-transform:scale(50%) translate(-200px,0px); -o-transform:scale(50%) translate(-200px,0px); overflow: visible;
}


#swaledaleSheep2{
    transform:scale(50%) translate(-600px,0px);
    -webkit-transform:scale(50%) translate(-600px,0px);
    -moz-transform:scale(50%) translate(-600px,0px);
    -ms-transform:scale(50%) translate(-600px,0px);
    -o-transform:scale(50%) translate(-600px,0px);
    overflow: visible;
}

#lamb1{
    transform:scale(60%) translate(-200px,0px);
    -webkit-transform:scale(60%) translate(-200px,0px);
    -moz-transform:scale(60%) translate(-200px,0px);
    -ms-transform:scale(60%) translate(-200px,0px);
    -o-transform:scale(60%) translate(-200px,0px);
    overflow: visible;
}


#lamb2{
    transform:scale(60%) translate(-200px,0px);
    -webkit-transform:scale(60%) translate(-200px,0px);
    -moz-transform:scale(60%) translate(-200px,0px);
    -ms-transform:scale(60%) translate(-200px,0px);
    -o-transform:scale(60%) translate(-200px,0px);
    overflow: visible;
}

} 

