.April2025header {
    display:block;
    text-align: center;
    font-size: 1.75em;
    color:white;
    font-weight: bold;
    border:solid 3px;
    width: 100vw;
    height: 83vh;
    background: #e1eae7;
    position:absolute; 
  
  #April2025title{
    display:block;
    text-align: center;
    margin-top:2%;
    color: 	#52555c;
  }
  
  #backbuttonApril{
    display:block;
    position:absolute;
    height:50px;
    width:15%;
    background-color:gray;
    border:black 2px solid;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color:white;
    margin: 5% 25% 5% 75%;
    border-radius:15%;
    -webkit-border-radius:15%;
    -moz-border-radius:15%;
    -ms-border-radius:15%;
    -o-border-radius:15%;
  } 
  }
  
  .backbuttonLink{
    color:white
    } 
  
  .LinkApril2025{
    text-decoration: underline;
    color:blue;
  }
  
  .datenewsDivApril2025{
    border:solid #757c88 4px;
    background-color:#8bb285;
    display:flex;
    flex-direction:column;
    margin-top: 2%;
    margin-bottom:0;
    padding-top: 10%;
    padding-bottom:5%;
  }

  .datenewsDivAprilHeader2025{
    border:solid #757c88 4px;
    background-color:#8bb285;
    display:flex;
    flex-direction:column;
    margin-top: -10%;
    margin-bottom:0;
    padding-top: 10%;
    padding-bottom:5%;
  }
  
  .dateApril2025{
    color:#36454F;
    border:solid 3px #757c88;
    background-color:#f6f0a3;
    text-align: center;
    padding:10px 10px 10px 10px;
    margin:5px;
    font-size:1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .dateAprilHeader2025{
    color:#36454F;
    border:solid 3px #757c88;
    background-color:#f6f0a3;
    text-align: center;
    padding:10px 10px 10px 10px;
    margin:5px;
    font-size:1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .newsheaderApril2025{
    color:#36454F;
    border:solid 3px #757c88;
    background-color:#f6f0a3;
    text-align: center;
    padding:10px 10px 10px 10px;
    margin:5px;
    font-size:1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .newsApril2025{
    color:#36454F;
    border:solid 3px #757c88;
    background-color:#f6f0a3;
    text-align: left;
    padding:10px 10px 20px 10px;
    margin:3%;
    font-size:1.0rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #groundApril2025{
      width:400vw;
      x:-50px;
      y:480px;
      height:2500px;
      
    } 
  
  
  .blogPhotoDivApril2025{
    display:flex;
    flex-direction: row;
    background-color: #f6f0a3;
    padding-bottom: 20%;
    padding-top: 5%;
    margin-top:2%;
    margin-left:auto;
    margin-right: 10%;
  }
  
  .blogPhoto img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    height:70%;
    border:solid grey;
    border-radius:30px;
    }

    .slideshowinstructionsApril2025 {
      margin-top:1%;
      margin-bottom:1%;
      font-size:1.1rem;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      display: block;
      color:black;
      background-color: #f6f0a3;
      
    }
    
    .slideshowentryApril2025 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      pointer-events:none;
      height:auto;
      width: 70%;
      border:solid grey 4px;
      border-radius:70%;
      margin-top:1%;
      margin-bottom:1%;
      -webkit-border-radius:70%;
      -moz-border-radius:70%;
      -ms-border-radius:70%;
      -o-border-radius:70%;
      padding: 5%;
  } 
    
    .SlideshowHostPhotoApril2025{
      display:flex;
      flex-direction: column;
      border:solid 3px grey;
      background-color:#f6f0a3;
      padding-bottom: 2%;
      padding-top: 2%;    
      margin-right: auto;
      margin-left: auto;
      justify-content:center;
      text-align:center;
    }
  
    fig{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right:auto;
      }
      
      fig img {
        vertical-align: top;
      }
  
      .aprilfigcaption {
        text-align: center;
        font-family: bold;
        color:#36454F;
        font-size:60%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        overflow-wrap:normal;
        padding:5%;
      }
  
      /*To ensure on laptops that the sheep are not submerged into the ground*/
  @media screen and (min-width:901px) and (max-width:1600px){
    #swaledaleSheep1{ transform: translate(-200px,0px); -webkit-transform: translate(-200px,0px); -moz-transform: translate(-200px,0px); -ms-transform: translate(-200px,0px); -o-transform: translate(-200px,0px); overflow: visible;
  }
    
    #swaledaleSheep2{
      transform: translate(-600px,0px);
      -webkit-transform: translate(-600px,0px);
      -moz-transform: translate(-600px,0px);
      -ms-transform: translate(-600px,0px);
      -o-transform: translate(-600px,0px);
      overflow: visible;
  }
    
    #lamb1{
      transform: translate(-200px,-20px);
      -webkit-transform: translate(-200px,-20px);
      -moz-transform: translate(-200px,-20px);
      -ms-transform: translate(-200px,-20px);
      -o-transform: translate(-200px,-20px);
      overflow: visible;
  }
    
    
    #lamb2{
      transform: translate(-200px,-20px);
      -webkit-transform: translate(-200px,-20px);
      -moz-transform: translate(-200px,-20px);
      -ms-transform: translate(-200px,-20px);
      -o-transform: translate(-200px,-20px);
      overflow: visible;
  }
  
  .April2024header {
    height:90vh;
  }
  
  #ground{
    width:400vw;
    x:-50px;
    y:480px;
    height:400px;
  } 
  }
    
  
      /*To ensure on ipad screens and larger mobiles that photos are displayed in columnar format to ensure sizing and clarity of image optimal*/
  @media screen and (min-width:480px) and (max-width:900px){
  .blogPhotoDiv{
    display:flex;
    flex-direction: column;
    background-color: #b3e5ab;
    padding-bottom: 15%;
    padding-top: 5%;
    margin-top:2%;
  }
  
    /*To ensure on ipad screens and larger mobiles (min-width 480px, max-width 900px) that the ground extends to meet the upper margin of the darker body colour */
    #groundApril2025{
      width:400vw;
      x:-50px;
      y:480px;
      height:2500px;
   } 
  
  
  /*To ensure on ipad screens and larger mobiles (min-width 480px, max-width 900px) that the sheep and lambs are correctly positioned*/
   #swaledaleSheep1{ transform: translate(-200px,0px); -webkit-transform: translate(-200px,0px); -moz-transform: translate(-200px,0px); -ms-transform: translate(-200px,0px); -o-transform: translate(-200px,0px); overflow: visible;
   }
     
     #swaledaleSheep2{
       transform: translate(-600px,0px);
       -webkit-transform: translate(-600px,0px);
       -moz-transform: translate(-600px,0px);
       -ms-transform: translate(-600px,0px);
       -o-transform: translate(-600px,0px);
       overflow: visible;
  }
     
     #lamb1{
       transform: translate(-200px,-50px);
       -webkit-transform:rotate(-30,530, 485);
       -moz-transform:rotate(-30,530, 485);
       -ms-transform:rotate(-30,530, 485);
       -o-transform:rotate(-30,530, 485);
       overflow: visible;
  }
  
  #lambtail1{
    transform:translate(5px,10px);
    -webkit-transform:translate(5px,10px);
    -moz-transform:translate(5px,10px);
    -ms-transform:translate(5px,10px);
    -o-transform:translate(5px,10px);
  }
  
  #lambtail2{
    transform:translate(0px, -10px);
    -webkit-transform:translate(0px, -10px);
    -moz-transform:translate(0px, -10px);
    -ms-transform:translate(0px, -10px);
    -o-transform:translate(0px, -10px);
  }
  
  #lamb2
  {
       transform: translate(-200px,-40px);
       -webkit-transform: translate(-200px,-40px);
       -moz-transform: translate(-200px,-40px);
       -ms-transform: translate(-200px,-40px);
       -o-transform: translate(-200px,-40px);
       overflow: visible;
  }
  
  }
  
  /*To ensure on devices  (min-width 598px, max-width 699px) that the April2024header height is correct size*/
  .April2024header{
    height:90vh;
    
  }
  
  @media screen and (max-width:480px) {
  
   /*To ensure on mobile screens below 480px width (this includes one plus phones) that relevant components of the site are displayed with the best dimensions for the smaller devices*/
  
  .mountainForeground, .mountainMiddle, .mountainBackground{
    transform:scale(50%) translate(-150px,0px);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
  }
  
  #gradSpringSun{
    transform:translateY(-300px);
    -webkit-transform:translateY(-300px);
    -moz-transform:translateY(-300px);
    -ms-transform:translateY(-300px);
    -o-transform:translateY(-300px);
  }
  
  #groundApril2025{
  width:400vw;
  x:-50px;
  y:260px;
  height:2500px;
  } 
  
  .April2024header {
  display:block;
  text-align: center;
  font-size: 1.75em;
  color:white;
  font-weight: bold;
  border:solid 3px;
  width: 100vw;
  height: 50vh;
  background: #e1eae7;
  position:absolute; 
  
  } 
  
  #swaledaleSheep1{ transform:scale(50%) translate(-200px,0px); -webkit-transform:scale(50%) translate(-200px,0px); -moz-transform:scale(50%) translate(-200px,0px); -ms-transform:scale(50%) translate(-200px,0px); -o-transform:scale(50%) translate(-200px,0px); overflow: visible;
  }
  
  #swaledaleSheep2{
    transform:scale(50%) translate(-600px,0px);
    -webkit-transform:scale(50%) translate(-600px,0px);
    -moz-transform:scale(50%) translate(-600px,0px);
    -ms-transform:scale(50%) translate(-600px,0px);
    -o-transform:scale(50%) translate(-600px,0px);
    overflow: visible;
  }
  
  #lamb1{
    transform:scale(60%) translate(-200px,0px);
    -webkit-transform:scale(60%) translate(-200px,0px);
    -moz-transform:scale(60%) translate(-200px,0px);
    -ms-transform:scale(60%) translate(-200px,0px);
    -o-transform:scale(60%) translate(-200px,0px);
    overflow: visible;
  }
  
  
  #lamb2{
    transform:scale(60%) translate(-200px,0px);
    -webkit-transform:scale(60%) translate(-200px,0px);
    -moz-transform:scale(60%) translate(-200px,0px);
    -ms-transform:scale(60%) translate(-200px,0px);
    -o-transform:scale(60%) translate(-200px,0px);
    overflow: visible;
  }
  
  /*To ensure on mobile screens below 480px that photos are displayed in columnar format to ensure sizing and clarity of image optimal*/
  .blogPhotoDiv{
  display:flex;
  flex-direction: column;
  background-color: #b3e5ab;
  padding-bottom: 15%;
  padding-top: 5%;
  margin-top:2%;
  }

  #groundApril2025{
    width:400vw;
    x:-50px;
    y:260px;
    height:3000px;
    } 
  
  }
  