*{
  box-sizing: border-box;
}

.bodyFeb2025 {
  background-color:black;
  margin:0;
  padding:0;
  height:100vh;
  }

.February2025header {
    display:block;
    text-align: center;
    justify-items: center;
    font-size: 1.55em;
    font-weight: bold;
    width: 100%;
    height:15vh;
    position:relative;
    background-color:#f9c16c;
    padding:4%;
}

#backbuttonFebruary2025{
  display:block;
  position:absolute;
  height:fit-content;
  width:fit-content;
  padding:2%;
  background-color: black ;
  border:grey 2px solid;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color:whitesmoke;
  top:10%;
  text-decoration: underline;
  margin: 1% 25% 5% 75%;
  border-radius:15%;
  -webkit-border-radius:15%;
  -moz-border-radius:15%;
  -ms-border-radius:15%;
  -o-border-radius:15%;
} 


/* .stageBorder is the container for .curtain1 and .curtain2 */
.stageBorder {
    height:100%;
    position:relative; /* As stageBorder is the container for curtain1 and curtain2, this needs to be position: relative 
    to enable the curtain1 and curtain2, both position:absolute to be positioned in relation to this container.*/
}

.snowScene {
  background: linear-gradient(180deg, #E3E3E3 20% , #f4f4f4 30% , white 35% 100%); 
  display: block;
  position:absolute;
  width:100vw;
  height:100vh;
  top:0;
  
  }

  .groundSnow {
    position:absolute;
    background:linear-gradient(45deg, #736e68, #f4f4f4);
    /* height: 30vh; */
  }

.curtain1{
    display:block;
    position:absolute;
    height: 100vh;
    width: 100%;
}

.curtain1::after,
.curtain1::before {
  content: '';   /*an empty content: property. This is necessary for these pseudo-elements to appear*/
  background: repeating-linear-gradient(to left, #7990AF 0%, #21467A 10%, #7990AF 15%);
  position: absolute;
  transition-duration: 10s;
}

.curtain1::after,
.curtain1::before {
  height: 100%;
  width: 50%;
}

/*Left half*/
.curtain1::before {
  left: 0;
  transform-origin: left;
}

/*Right half*/
.curtain1::after {
  right: 0;
  transform-origin: right;
}

.curtain1:hover:after,
.curtain1:hover:before {
  opacity: 1;
}

/*For the left and right halves:*/
.curtain1:hover:after,
.curtain1:hover:before {
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}










