.May2024header {
    display:block;
    text-align: center;
    font-size: 1.75em;
    color:white;
    font-weight: bold;
    /*border:solid 3px;
    */width: 100vw;
    height: auto;
    background: #e1eae7;
    position:absolute;

    #May2024title {
    display:block;
    text-align: center;
    margin-top:2%;
    color: 	#52555c;
}

 #backbuttonMay{
    display:block;
    position:absolute;
    height:50px;
    width:15%;
    background-color:gray;
    border:black 2px solid;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color:white;
    margin: 5% 25% 5% 75%;
    border-radius:15%;
    -webkit-border-radius:15%;
    -moz-border-radius:15%;
    -ms-border-radius:15%;
    -o-border-radius:15%;
  } 
}

.backbuttonLink{
    color:white
    } 

.datenewsDiv{
    border:solid #757c88 4px;
    background-color:#8bb285;
    display:flex;
    flex-direction:column;
    margin-top: 10vh;
    margin-bottom:5vh;
  }
  
  .date{
    color:#36454F;
    border:solid 3px #757c88;
    background-color:#b3e5ab;
    text-align: center;
    padding:10px 10px 10px 10px;
    margin:5px;
    font-size:1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }

  .newsheader{
    color:#36454F;
    border:solid 3px #757c88;
    background-color:#b3e5ab;
    text-align: center;
    padding:10px 10px 10px 10px;
    margin:5px;
    font-size:1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
  }

  .news{
    color:#36454F;
    border:solid 3px #757c88;
    background-color:#b3e5ab;
    text-align: left;
    padding:10px 10px 10px 10px;
    margin:5px;
    font-size:1.0rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
  }

  #JillLindisfarne1993img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* pointer-events:none;  */
    width:35%;
    height:auto;
    border:solid grey 8px;
    border-radius:50%;
    margin-top:3%;
    margin-bottom:5%;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -ms-border-radius:40px;
    -o-border-radius:40px;
  }

  .blogPhotoDiv{
    display:flex;
    flex-direction: row;
    background-color: #b3e5ab;
    padding-bottom: 20%;
    padding-top: 5%;
    margin-top:2%;
  }


  
  .blogPhoto img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    height:70%;
    border:solid grey;
    border-radius:30px;
    }

    figmay{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right:auto;
      }
      
      figmay img {
        vertical-align: top;
      }

      figmay figcaptionmay {
        text-align: center;
        font-family: bold;
        color:#36454F;
        font-size: 1.2em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        overflow-wrap:normal;
        padding-top:5%;
      }

    .slideshowentry {
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events:none; 
    width:35%;
    height:auto;
    border:solid grey 8px;
    border-radius:50%;
    margin-top:3%;
    margin-bottom:5%;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -ms-border-radius:40px;
    -o-border-radius:40px;
}      

.slideshowinstructions {
    margin-top:5%;
    margin-bottom:2%;
    font-size:1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:inline-block;
    color:#36454F; 
}

.SlideshowHostPhoto{
    display:flex;
    flex-direction: column;
    background-color: #b3e5ab;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top:2%;
    justify-content:center;
    text-align:center;
  }
 
      /*To ensure on ipad screens and larger mobiles that photos are displayed in columnar format to ensure sizing and clarity of image optimal*/
@media screen and (min-width:402px) and (max-width:900px){
  .blogPhotoDiv{
    display:flex;
    flex-direction: column;
    background-color: #b3e5ab;
    padding-bottom: 15%;
    padding-top: 5%;
    margin-top:2%;
  }

}

@media screen and (max-width:401px) {

   /*To ensure on mobile screens below 401px width (this includes one plus phones) that relevant components of 
   the site are displayed with the best dimensions for the smaller devices*/


.May2024header {
  display:block;
  text-align: center;
  font-size: 1.75em;
  color:white;
  font-weight: bold;
  /* border:solid 3px; */
  width: 100vw;
  /* height: 50vh; */
  height:auto;
  background: #e1eae7;
  position:absolute; 

} 

/*To ensure on mobile screens below 401px that photos are displayed in columnar format to ensure sizing and clarity of image optimal*/
.blogPhotoDiv{
  display:flex;
  flex-direction: column;
  background-color: #b3e5ab;
  padding-bottom: 15%;
  padding-top: 5%;
  margin-top:2%;
}

}

