.ajaxLoader {
  position: absolute;
  transform-origin: 50% 50%;
  font-size: 70px;
  width: 1em;
  height: 3em;
}
.ajaxLoader .walkingBoot {
  width: 1.5em;
  height: 1em;
  animation: 2050ms pawAnimation ease-in-out infinite;
  opacity: 0;
  /* % is modulus (remainder) as in javascript.
  In arithmetic, the division of two integers produces a quotient and a remainder.eg. 5/2 = 2 with 1 as remainder.
  In mathematics, the result of a modulo operation is the remainder of an arithmetic division. */
  /*for loop ends*/
}
.ajaxLoader .walkingBoot svg {
  width: 100%;
  height: 100%;
}
.ajaxLoader .walkingBoot .icon {
  fill: blue;
}
.ajaxLoader .walkingBoot:nth-child(odd) {
  transform: rotate(0deg);
}
.ajaxLoader .walkingBoot:nth-child(even) {
  transform: rotate(0deg) scaleX(-1) translate(15%, -50%);
  -webkit-transform: rotate(0deg) scaleX(-1) translate(15%, -50%);
  -moz-transform: rotate(0deg) scaleX(-1) translate(15%, -50%);
  -ms-transform: rotate(0deg) scaleX(-1) translate(15%, -50%);
  -o-transform: rotate(0deg) scaleX(-1) translate(15%, -50%);
}
.ajaxLoader .walkingBoot:nth-child(1) {
  animation-delay: 2.25s;
  transform: rotate(0deg) translate3d(-4%, -48%, 0);
}
.ajaxLoader .walkingBoot:nth-child(1) {
  animation-delay: 2.25 s;
  transform: rotate(-8deg) translate3d(30%, -50%, 0);
  -webkit-transform: rotate(-8deg) translate3d(30%, -50%, 0);
  -moz-transform: rotate(-8deg) translate3d(30%, -50%, 0);
  -ms-transform: rotate(-8deg) translate3d(30%, -50%, 0);
  -o-transform: rotate(-8deg) translate3d(30%, -50%, 0);
}
.ajaxLoader .walkingBoot:nth-child(2) {
  animation-delay: 2 s;
  transform: rotate(0deg) scaleX(-1) translate3d(10%, -100%, 0);
  -webkit-transform: rotate(0deg) scaleX(-1) translate3d(10%, -100%, 0);
  -moz-transform: rotate(0deg) scaleX(-1) translate3d(10%, -100%, 0);
  -ms-transform: rotate(0deg) scaleX(-1) translate3d(10%, -100%, 0);
  -o-transform: rotate(0deg) scaleX(-1) translate3d(10%, -100%, 0);
}
.ajaxLoader .walkingBoot:nth-child(2) {
  animation-delay: 2s;
  transform: rotate(-8deg) scaleX(-1) translate3d(-30%, -120%, 0);
  -webkit-transform: rotate(-8deg) scaleX(-1) translate3d(-30%, -120%, 0);
  -moz-transform: rotate(-8deg) scaleX(-1) translate3d(-30%, -120%, 0);
  -ms-transform: rotate(-8deg) scaleX(-1) translate3d(-30%, -120%, 0);
  -o-transform: rotate(-8deg) scaleX(-1) translate3d(-30%, -120%, 0);
}
.ajaxLoader .walkingBoot:nth-child(3) {
  animation-delay: 1.75s;
  transform: rotate(0deg) translate3d(-12%, -144%, 0);
}
.ajaxLoader .walkingBoot:nth-child(3) {
  animation-delay: 1.75s;
  transform: rotate(0deg) translate3d(45%, -144%, 0);
}
.ajaxLoader .walkingBoot:nth-child(4) {
  animation-delay: 1.5 s;
  transform: rotate(0deg) scaleX(-1) translate3d(20%, -200%, 0);
  -webkit-transform: rotate(0deg) scaleX(-1) translate3d(20%, -200%, 0);
  -moz-transform: rotate(0deg) scaleX(-1) translate3d(20%, -200%, 0);
  -ms-transform: rotate(0deg) scaleX(-1) translate3d(20%, -200%, 0);
  -o-transform: rotate(0deg) scaleX(-1) translate3d(20%, -200%, 0);
}
.ajaxLoader .walkingBoot:nth-child(4) {
  animation-delay: 1.5 s;
  transform: rotate(0deg) scaleX(-1) translate3d(-32%, -200%, 0);
  -webkit-transform: rotate(0deg) scaleX(-1) translate3d(-32%, -200%, 0);
  -moz-transform: rotate(0deg) scaleX(-1) translate3d(-32%, -200%, 0);
  -ms-transform: rotate(0deg) scaleX(-1) translate3d(-32%, -200%, 0);
  -o-transform: rotate(0deg) scaleX(-1) translate3d(-32%, -200%, 0);
}
.ajaxLoader .walkingBoot:nth-child(5) {
  animation-delay: 1.25s;
  transform: rotate(0deg) translate3d(-20%, -240%, 0);
}
.ajaxLoader .walkingBoot:nth-child(5) {
  animation-delay: 1.25s;
  transform: rotate(0deg) translate3d(40%, -240%, 0);
}
.ajaxLoader .walkingBoot:nth-child(6) {
  animation-delay: 1 s;
  transform: rotate(0deg) scaleX(-1) translate3d(30%, -300%, 0);
  -webkit-transform: rotate(0deg) scaleX(-1) translate3d(30%, -300%, 0);
  -moz-transform: rotate(0deg) scaleX(-1) translate3d(30%, -300%, 0);
  -ms-transform: rotate(0deg) scaleX(-1) translate3d(30%, -300%, 0);
  -o-transform: rotate(0deg) scaleX(-1) translate3d(30%, -300%, 0);
}
.ajaxLoader .walkingBoot:nth-child(6) {
  animation-delay: 1 s;
  transform: rotate(0deg) scaleX(-1) translate3d(-30%, -300%, 0);
  -webkit-transform: rotate(0deg) scaleX(-1) translate3d(-30%, -300%, 0);
  -moz-transform: rotate(0deg) scaleX(-1) translate3d(-30%, -300%, 0);
  -ms-transform: rotate(0deg) scaleX(-1) translate3d(-30%, -300%, 0);
  -o-transform: rotate(0deg) scaleX(-1) translate3d(-30%, -300%, 0);
}
.ajaxLoader .walkingBoot:nth-child(7) {
  animation-delay: 0.75s;
  transform: rotate(0deg) translate3d(-28%, -336%, 0);
}
.ajaxLoader .walkingBoot:nth-child(7) {
  animation-delay: 0.75s;
  transform: rotate(1deg) translate3d(7%, -336%, 0);
}
.ajaxLoader .walkingBoot:nth-child(8) {
  animation-delay: 0.5 s;
  transform: rotate(0deg) scaleX(-1) translate3d(40%, -400%, 0);
  -webkit-transform: rotate(0deg) scaleX(-1) translate3d(40%, -400%, 0);
  -moz-transform: rotate(0deg) scaleX(-1) translate3d(40%, -400%, 0);
  -ms-transform: rotate(0deg) scaleX(-1) translate3d(40%, -400%, 0);
  -o-transform: rotate(0deg) scaleX(-1) translate3d(40%, -400%, 0);
}
.ajaxLoader .walkingBoot:nth-child(8) {
  animation-delay: 0.5 s;
  transform: rotate(1deg) scaleX(-1) translate3d(8%, -400%, 0);
  -webkit-transform: rotate(1deg) scaleX(-1) translate3d(8%, -400%, 0);
  -moz-transform: rotate(1deg) scaleX(-1) translate3d(8%, -400%, 0);
  -ms-transform: rotate(1deg) scaleX(-1) translate3d(8%, -400%, 0);
  -o-transform: rotate(1deg) scaleX(-1) translate3d(8%, -400%, 0);
}
.ajaxLoader .walkingBoot:nth-child(9) {
  animation-delay: 0.25s;
  transform: rotate(0deg) translate3d(-36%, -432%, 0);
}
.ajaxLoader .walkingBoot:nth-child(10) {
  animation-delay: 0 s;
  transform: rotate(0deg) scaleX(-1) translate3d(50%, -500%, 0);
  -webkit-transform: rotate(0deg) scaleX(-1) translate3d(50%, -500%, 0);
  -moz-transform: rotate(0deg) scaleX(-1) translate3d(50%, -500%, 0);
  -ms-transform: rotate(0deg) scaleX(-1) translate3d(50%, -500%, 0);
  -o-transform: rotate(0deg) scaleX(-1) translate3d(50%, -500%, 0);
}
.no-cssanimations .ajaxLoader .walkingBoot {
  opacity: 1;
}

.ajaxLoader {
  top: 8%;
  left: 50%;
  transform: rotate(40deg) translate(-50%, 0%);
  -webkit-transform: rotate(40deg) translate(-50%, 0%);
  -moz-transform: rotate(40deg) translate(-50%, 0%);
  -ms-transform: rotate(40deg) translate(-50%, 0%);
  -o-transform: rotate(40deg) translate(-50%, 0%);
}

@keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=footprintanimation.css.map */